/*Styles */

body
	{
		background-color: #999;
		color: white;
		font-size: 87.5%;
		font-family: Arial, Lucida Sans Unicode;
		line-height: 1.5;
		text-align: left;
	}

a 
	{
		text-decoration: none;
	}

a:link, a:visited
	{
		color: #fff;
	}

a:hover, a:active
	{	
		color: yellow;
	}

.body
	{
		margin: 0 auto;
		width: 70%;
		clear: both;
	}

.mainHeader img
	{
		width: 30%;
		height: auto;;
		margin: 2% 0;
	}

.mainHeader nav
	{
		background-color: #333;
		height: 40px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

.mainHeader nav ul
	{
		list-style: none;
		margin: 0 auto;
	}

.mainHeader nav ul li 
	{
		display: inline;
		float: left;

	}

.mainHeader nav a:link, .mainHeader a:visited
	{
		color: #fff;
		display: inline-block;
		height: 20px;
		padding: 10px 25px
	}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited
	{
		color: yellow;
		text-shadow: none;
	}

.mainHeader nav ul li a
	{
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

.mainContent
	{
		line-height: 25px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

.content
	{
		float: left;
		width: 70%;
	} 

.topContent
	{
		background-color: #666;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		color: #fff;
		padding: 3% 5%;
		margin-top: 2%;
	}


.bottomContent
	{
		background-color: #666;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		color: #fff;
		padding: 3% 5%;
		margin-top: 2%;
	}

.post-info
	{
		font-style: italic;
		color: yellow;
		font-size: 90%;
	}

.top-sidebar
	{
		background-color: #333;
		width: 21%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 2% 0 2% 3%;
		padding: 2% 3%;
	}

.top-sidebar h2, .middle-sidebar h2, .bottom-sidebar h2
	{
		color: yellow;
	}

.middle-sidebar
	{
		background-color: #333;
		width: 21%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-left: 3%;
		margin-bottom: 2%;
		padding: 2% 3%;
	}

.bottom-sidebar
	{
		background-color: #333;
		width: 21%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-left: 3%;
		margin-bottom: 2%;
		padding: 2% 3%;
	}

.mainFooter
	{
		background-color: #333;
		width: 100%;
		height: 40px;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		margin: 2% 0;
	}

.mainFooter p
	{
		color: yellow;
		width: 92%;
		margin: 10px  auto;
	}

.mainFooter a:hover a:visited
	{
		color: yellow;
	}

@media only screen and (min-width: 150px) and (max-width: 640px)
	{
		.body
			{
				width: 90%;
				font-size: 95%;
			}

		.mainHeader img
			{
				width: 100%;
			}

		.mainHeader nav
			{
				height: 160px;
			}

		.mainHeader nav ul
			{
				padding-left: 0;
			}

		.mainHeader nav ul li
			{
				width: 100px;
				text-align: center;
			}

		.mainHeader nav a:link, .mainHeader nav a:visited
			{
				padding: 10px 25px;
				height: 20px;
			}

		
	}